@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header__section{
    padding: 20px;
    background-color: black;
    display: grid;
    grid-template-rows: max-content 1fr;
    
}
@media(min-width:700px){
    .header__section{
        height: 90vh;
        background: linear-gradient(107.17deg, #1b1b14 29.35%, rgba(80, 69, 156, 0.7) 78.73%);
    }
    
}
.header__title{
    margin: 0;
    text-align: center;
    font-size: 48px;
font-family: 'Montserrat', sans-serif;
margin:  104px 0;
color: white;

}

@media(min-width:700px){
    .header__title{
     align-self: center;
     justify-self: center;
     font-size: 60px;
    }
    
    .header__title::after{
        content: "👇" ;
        margin-left: 40px;
    }
}

.services__section{
    background-color: black;
    padding: 50PX 0 30px 0 ;
    
}




.services__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    
    
}

@media(min-width:700px){
    .services__container{
        flex-direction: row;
    }
}

.services__container__service{
    
    max-width: 260px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    gap: 10px;
    border: solid rgb(80, 69, 156) 2px;
    border-radius: 4px;
    
}

.services__container__service__img{
    
    justify-self: center;
    
   
    
}

.services__container__service__title{
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(80, 69, 156) ;
    
}

@media(min-width:800px){
    .services__container__service__title{
        font-size: 30px;
    }
}

.services__container__service__explication{
    text-align: center;
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
    
}
@media(min-width:800px){
    .services__container__service__explication{
        font-size: 20px;
    }
}
